HOST=0.0.0.0
PORT=8000
TONGPIN_DATA_DIR=./data
TONGPIN_BACKUP_DIR=./backups
TONGPIN_ADMIN_EMAIL=admin@tongpin.local
TONGPIN_ADMIN_PASSWORD=Admin123!
TONGPIN_SUPPORT_WECHAT=TongPinClub
TONGPIN_SUPPORT_HOURS=每日 12:00 - 22:00
TONGPIN_SUPPORT_MESSAGE=添加客服后备注“同频局”，我们会把你拉入对应城市的兴趣社群。
TONGPIN_COOKIE_SECURE=0
TONGPIN_SHOW_ADMIN_PASSWORD=0
